.dws {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

body {
    background-color: black;
    transition: .5s;
}

.butt {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: linear-gradient(to right, #50f, #00f);
    box-shadow: 0 0 5px #308, 0 0 15px #308, 0 0 30px #308, 0 0 60px #308;
    text-decoration: none;
    padding: 20px 70px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
}

.butt:hover, body:hover {
    box-shadow: 0 0 5px #00f, 0 0 15px #00f, 0 0 30px #00f, 0 0 60px #00f;
    background-color: #204;
    background-position: 100%;
    color: #fff;
}