{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="p-3 mb-2 bg-dark text-white">
    <div class="row">
        <h1 style="margin-left: 8px;">{{project.title}}</h1>
        <div class="col-md-6">
            <img style="margin-left: 8px;" src="{{ project.image.url }}" class="img-thumbnail" alt="movie">
        </div>
        <div class="col-md-4 mx-auto" style="margin-top: 25px;">
            <h4>Страна</h4>
            <p style="border-bottom: 3px solid #000;">{{project.country}}</p>
            <h4>Дата премьеры</h4>
            <p style="border-bottom: 3px solid #000;">{{project.premiere}}</p>
            <h4>Бюджет</h4>
            <p style="border-bottom: 3px solid #000;">{{project.budget}}$</p>
            <h4>Сборы в мире</h4>
            <p style="border-bottom: 3px solid #000;">{{project.fees}}$</p>
            <div class="col-md-4">
                <a href="{% url 'project_index' %}" class="btn btn-light">Назад</a>
            </div>
        </div>
        <div href="{% url 'project_detail' project.pk %}">
            <div class="col-md-8" style="margin-left: 15px;">
                <h2>Про фильм</h2>
                <p>{{project.description}}</p>
            </div>            
            <div class="col-md-8" style="margin-left: 15px;">
                <h2>Сюжет</h2>
                <p>{{project.content}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}