<div class="p-3 mb-2 bg-dark bg-gradient text-white">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <h3>Инстаграм создателя</h3>
            <div class="d-grid gap-2 btn btn-danger">
                <a href="https://instagram.com/uzakbaev_abumansur?r=nametag" class="btn btn-danger" type="button">Instagram</a>
            </div>
        </div>
        <div class="col mb-3">
            <h3>Телеграм создателя</h3>
            <div class="d-grid gap-2 btn btn-primary">
                <a href="https://t.me/uzakbaev_abumansur" class="btn btn-primary" type="button">Telegram</a>
            </div>
        </div>
        <div class="col mb-3">

        </div>

        <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
        </div>

        <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
        </div>
        
    </footer>
</div>